.window {
  position: absolute;
  background-color: rgba(23, 23, 45, 0.3);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: calc(100vw / 10);
  top: 1vh;

  width: calc(100vw / 10);
  /* height: -webkit-min-content; */
  /* height: -moz-min-content; */
  /* height: min-content; */
  height: calc(100vh / 2);

  min-width: 48vw;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  min-height: 35vh;
  max-height: calc(
    100vh - var(--height-footer) - var(--height-header) - var(--border1)
  );
  max-width: 100vw;
  z-index: 3;
  border-radius: var(--radius1);
  border-left: var(--border1) solid #36363c;
  border-right: var(--border1) solid #36363c;
  border-bottom: var(--border1) solid #36363c;

  /* transform: translateY(0) scale(1); */
  /* transition: transform 0.3s, opacity 0.2s; */
  transition: transform 0.2s, opacity 0.2s, width 0.2s, height 0.2s, left 0.2s,
    top 0.2s;
}

.window.frame {
  background-color: #060b16;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-image: url("img/loading.gif");
  background-size: 7em;
  background-position: center;
  background-repeat: no-repeat;
}
.window:not(.frame):before {
  content: "";
  background: url("img/background_blur.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  z-index: 0;
}

.window.current {
  -webkit-filter: unset;
  filter: unset;
  z-index: 5;
  border-left: var(--border1) solid #4d4d55;
  border-right: var(--border1) solid #4d4d55;
  border-bottom: var(--border1) solid #4d4d55;
}

.window.resize-left,
.window.resize-right,
.window.resize-top,
.window.resize-bottom {
  transition: none;
}

.window.current.resize-left {
  border-left: var(--border1) solid #cecece;
}

.window.current.resize-right {
  border-right: var(--border1) solid #cecece;
}

.window.current.resize-bottom {
  border-bottom: var(--border1) solid #cecece;
}

.window > .body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* Фоновое изображение гор слишком яркое */
  /* background-color: rgba(23, 23, 45, 0.6); */
  background-color: rgba(23, 23, 45, 0.7);
}

.window.current .header {
  background-color: #4d4d55;
}

.window .header {
  background-color: #36363c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: max-content;
  width: 100%;
  height: var(--window-header);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.window .header:active {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.window .header > .title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* padding-left: 10px; */
  /*width: 100%;*/
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.window .header > .title > .icon {
  height: 70%;
  margin: 0 0.2em;
}

.window .header > .draggable {
  height: 100%;
  width: 100%;
  min-width: 30px;
}

.window .header > .control {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*width: 100%;*/
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.window .header > .control > .wca {
  height: 100%;
  width: 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.window .close:hover {
  background-color: #a42323;
}

.window .expand:hover {
  background-color: #363654;
}

.window .collapse:hover {
  background-color: #363654;
}

.window .collapse,
.window .expand,
.window .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*Стиль при перетаскивании-------------------------------*/
.window.dragging {
  transition: none;
}
.window.dragging .header {
  background-color: #cecece;
}

.window.dragging .title {
  color: black;
}

.window.dragging .collapse,
.window.dragging .expand,
.window.dragging .close {
  color: black;
}
/*--------------------------------------------------------*/

/*Стиль полноэкранного окна-------------------------------*/
.window.expanded {
  width: 100vw !important;
  height: calc(
    100vh - (var(--height-footer) + var(--height-header))
  ) !important;
  max-height: 100vh !important;
  max-width: 100vw !important;
  left: 0;
  top: var(--height-header);
  resize: none;
  border-radius: 0;
  border: none !important;
}

.window.expanded .main > .right {
  max-width: unset;
  max-height: unset;
}

.window.collapsed {
  /* display: none; */
  transition: transform 0.5s, opacity 0.2s;
  transform: scale(0);
  opacity: 0;
  /* transform: scale(0) rotate(-45deg); */
}
/*--------------------------------------------------------*/

.window .main {
  width: 100%;
  height: calc(100% - var(--window-header));
  /*height: 100%;*/
  /*min-height: calc(38vh - var(--window-header));*/
  /*height: 100%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*  	align-items: center;
  	justify-content: space-between;*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* 01.2023 */
  /* box-shadow: inset -5px -5px 0px 0px #4d4d55; */
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.window .main > .left {
  max-width: 20vw;
  min-width: 9.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #36363c;
  overflow-y: auto;
  padding: 40px 15px 40px 15px;
  /* 01.2023 */
  /* box-shadow: inset 5px -5px 0px 0px #4d4d55; */
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.window .main > .right {
  width: 100%;
  margin: 1vw;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  min-height: calc(35vh - var(--window-header) - 2vw);
  /*max-height: calc(100vh - var(--height-footer) - var(--height-header) - 100vh/5);*/
  max-height: calc(
    100vh - var(--height-footer) - var(--height-header) - 100vh / 11
  );
  overflow-y: auto;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
}
.window.frame .main > .left {
  display: none;
}
.window.frame .main > .right {
  max-height: none;
  margin: 0;
}
.window .main > .right > *:not(iframe) {
  /*margin: 1vh 0;*/
  margin: auto;
  /*padding: unset;*/
  line-height: 1.1;
}

.window .main > .right > .window-loader {
  height: 8em;
  max-height: 20vh;
  width: auto;
  -webkit-filter: brightness(1.5) grayscale(1);
  filter: brightness(1.5) grayscale(1);
}

.section {
  background-color: var(--color-mainContent);
  padding: 1em;
  max-width: 40em;
  border-radius: var(--radius1);
}
.section ~ .section {
  margin-top: 1em;
}
.window.expanded .section {
  /* max-width: 65em; */
  /*max-width: 40em;*/
}
.section-button {
  text-decoration: none;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
  -webkit-animation: showFromRotateX 0.5s forwards 0s;
  animation: showFromRotateX 0.5s forwards 0s;
  border-radius: var(--radius1);
}
.section-button:hover {
  background-color: var(--color-pushedButton);
  color: var(--color-textButtton);
}

.section.error {
  background-color: #80515147;
}
.section.error h1,
.section.error h2 {
  color: #ffc2c2;
}

.window .header .title .value {
  max-width: 60vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*MOBILE*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .window .main > .left {
    display: none;
  }

  .menu-button {
    position: fixed;
    z-index: 100;
    user-select: none;
    cursor: pointer;
    height: 2em;
    width: 2em;
    background-color: #4d4d55;
    border-radius: 0 0 var(--radius1) 0;
  }

  .window .main > .left.active {
    display: initial;
    position: fixed;
    z-index: 99;
    min-width: calc(100vw - 2em);
    height: calc(
      100vh - (var(--height-footer) + var(--height-header)) -
        var(--window-header) - 4em
    );
    padding: 1em;
    padding-top: 3em;
  }

  .window.expanded .right {
    width: 100%;
  }

  /* TODO: WTF */
  /* .window.expanded .section {
    width: calc(95vw - 2vw - 3em);
  } */

  .window .collapse,
  .window .expand,
  .window .close {
    margin: 0 0.3em;
  }

  .window.expanded .main-content {
    min-width: unset;
  }

  .window {
    transition: transform 0.2s;
  }

  .window .header > .title > .icon {
    height: 60%;
  }
}
