.url2frame .formButton {
  border: none;
  background: none;
  outline: none;
  padding: 10px 6px 10px 6px;
  color: white;
  font-size: 16px;
  font-family: Monofur;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-radius: var(--radius1);
  margin-top: 0.4em;
}

.url2frame .formButton:hover {
  background-color: #bfceff24;
  color: #c6d4ff;
}

.url2frame code {
  cursor: pointer;
}