#fullscreen {
  border-radius: var(--radius1);
  width: 80%;
  height: 1.8em;
  cursor: pointer;
}
#fullscreen > .ico {
  background-image: url("img/fullscreen-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}
#fullscreen > .ico.alt {
  background-image: url("img/fullscreen-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#fullscreen:hover {
  background-color: #bfceff24;
}