.setting-row-wrapper:nth-child(n + 2) {
  margin-top: 1em;
}

.setting-row  {
  display: flex;
  align-items: center;
  margin-top: 0.15em;
}

.setting-row .button > * {
  text-align: center;
}

.setting-row > img.reset {
  height: 1em;
  width: auto;
  margin-top: 0.4em;
  cursor: pointer;
}
