#app {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  background-color: #212125;
}

#fade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: -100000;
  transition: opacity 3.5s;
  transition-timing-function: ease-in;
}
#fade.active {
  z-index: 100000;
  opacity: 1;
}
