.contactsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* min-width: 30vw; */
  /* max-width: 40vw; */
}

.window.expanded .contactsContent {
  /* max-width: 46em; */
  /* height: 22em; */
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.contactsContent .desc {
  margin-bottom: 0.5em;
}

.contactsContent h2 {
  margin-top: 0em;
  margin-bottom: 0.4em;
}

.contactsField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  /* background-color: rgba(81, 87, 128, 0.28);
  border-radius: var(--radius1); */
  align-items: flex-start;
  flex-wrap: wrap;
}

.sendForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

.formReview {
  height: 4.5em;
  resize: none;
  border-radius: var(--radius1);
  border: none;
  margin-top: 0.4em;
  font-size: 0.8em;
  min-height: 1em;
}

.formName {
  border-radius: var(--radius1);
  border: none;
  font-size: 0.8em;
  min-height: 1.7em;
}

.formButton {
  border: none;
  background: none;
  outline: none;
  /* padding: 10px 6px 10px 6px; */
  color: white;
  font-size: 1em;
  font-family: Monofur;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-radius: var(--radius1);
  margin-top: 0.4em;
  min-height: 1.7em;
  /* background-color: #17172d; */
}
.formButton > * {
  text-align: center;
}

/* .formButton:hover {
  background-color: #bfceff24;
  color: #c6d4ff;
} */

.reviewSent {
  margin: 1em;
}

.contactsText {
  padding: 10px;
  max-width: 300px;
}
.window.expanded .contactsText {
  max-width: 50%;
}

.aboutmeHrefs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: flex-end; */
  justify-content: center;
  /* background-color: rgba(81, 87, 128, 0.28); */
  border-radius: var(--radius1);
  /* margin-bottom: 0.5em; */
  flex-wrap: wrap;
}
.aboutmeHrefs .about {
  text-decoration: none;
  font-size: 18px;
  padding: 4px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  /* width: 100%; */
  text-align: center;
  border-radius: var(--radius1);
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
}
.aboutmeHrefs .about img {
  height: 2em;
  width: auto;
}
/* .aboutmeHrefs .about:first-child {
  border-radius: var(--radius1) 0 0 var(--radius1);
}
.aboutmeHrefs .about:last-child {
  border-radius: 0 var(--radius1) var(--radius1) 0;
} */
.aboutmeHrefs .about:hover {
  -webkit-box-shadow: 0px 10px 10px -8px #bfceff;
  box-shadow: 0px 10px 10px -8px #bfceff;
}
.aboutmeVk {
  background-color: white;
  color: white;
}
.aboutmeTg {
  background-color: white;
  /* background-color: #4a76a8; */
  color: white;
}
.aboutmeYamail {
  background-color: white;
  color: #ff0000;
}
.aboutmeGmail {
  background-color: white;
  color: black;
}
.aboutmeGitHub {
  background-color: white;
  color: white;
}
.aboutmeGitLab {
  background-color: white;
  color: #ffb855;
  text-shadow: 0em 0.1em 0.1em #ed683073;
}

.heart {
  /* color: #ffa1a1; */
  color: #a8a1ff;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
  user-select: none;
}
.heart:hover {
  color: #ffa1a1;
}
.heart:active {
  color: #ff2d2d;
  transform: scale(1.25) rotate(25deg);
}

.avatar-container {
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  /* background-color: #00000052; */
  border-radius: var(--radius1);
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  /* margin-bottom: 0.6em; */
  flex-wrap: wrap;
  position: relative;
  /* background-color: #00000057; */
  background-color: transparent;
}

.avatar-container:before {
  /* content: ""; */
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(img/background_blur.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -1;
}

.avatar-container .text {
  margin: 0.9em;
}

.avatar-container .makishimudesu {
  font-size: 1.3em;
}
.avatar-container .makishimudesu .name {
  font-size: 2em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  /* background-color: #1a1d34; */
  color: var(--color-textButtton) !important;
  background-color: var(--color-pushedButton) !important;
  border-radius: var(--radius1) !important;
  width: max-content;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.avatar-container .avatar {
  height: 11em;
  border-radius: var(--radius1);
}

.textLucors {
  display: inline-flex;
}
.textLucors img {
  height: 1em;
}

.playLucors {
  cursor: pointer;
  height: 0.9em;
  margin-left: 0.1em;
}

.section.links {
  margin-top: 3em;
}

/*MOBILE*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .contactsContent {
    width: 90vw;
  }
}
