footer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: var(--height-footer);
  z-index: 100;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #212125;
}

#startButt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
  cursor: pointer;
  height: 100%;
  margin-right: 5px;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0 var(--radius1) var(--radius1) 0;
}
#startButt:hover {
  background-color: #2c2c49;
}

#task-bar {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0 5px;
  /* overflow: hidden; */
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #2c2c49 #212125;
}
#task-bar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
#task-bar::-webkit-scrollbar-track {
  background: transparent !important;
}
#task-bar::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  #task-bar {
    padding: 0;
  }
  .rightFootBox {
    max-width: 100%;
    width: auto;
    margin-right: 0;
  }
}
